@use "variables";

@mixin box-shadow($border, $color) {
  box-shadow:inset 0 0 0 $border $color;
  box-shadow:inset 0 0 0 $border $color;
  box-shadow:inset 0 0 0 $border $color;
}

@mixin desktopSizeContainer {
  margin: auto;
  max-width: 1000px;
  margin-top: 130px;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin box-color($primary-color, $secondary-color){
.container__box--#{$primary-color} {
  background-color: map-get(variables.$color, #{$primary-color});

  .container__button {
    color: map-get(variables.$color, #{$primary-color});

    &:hover {
     @include box-shadow(2px, map-get(variables.$color, #{$secondary-color}));

     color: map-get(variables.$color, #{$secondary-color}); 
     background-color: map-get(variables.$color, #{$primary-color});
    }
  }
}
}

@mixin theme($dark-theme: true) {
  @if $dark-theme {
    background: darken(map-get(variables.$color, transparent-white), 100%);
    color: darken(map-get(variables.$color, very-light-gray), 10%);
  }
}
