$color: (
  "bright-orange": hsl(31deg 77% 52%),
  "dark-cyan": hsl(184deg 100% 22%),
  "very-dark-cyan": hsl(179deg 100% 13%),
  "transparent-white": hsl(0deg 0% 100% / 75%),
  //paragraphs
  "very-light-gray": hsl(0deg 0% 95%) //background, headings, buttons,,
);

$font: (
  "heading-font": "Big Shoulders Display",
  "subheading-font": "Lexend Deca",
);

@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/lexenddeca-variablefont_wght-webfont.woff") format("woff"),
    url("../fonts/lexenddeca-variablefont_wght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("../fonts/bigshouldersdisplay-semibold-webfont.woff") format("woff"),
    url("../fonts/bigshouldersdisplay-semibold-webfont.woff2") format("woff2");
}
