@use 'mixins';

.container {
    @include mixins.desktopSizeContainer;
    @include mixins.flex(row);
    border-radius: 10px;
    overflow: hidden;
}

.container__box {
    padding: 50px;
    flex: 30%;
}

@media (max-width: 700px) {
    .container {
      @include mixins.flex(row);
    }
  }

