@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/lexenddeca-variablefont_wght-webfont.woff") format("woff"),
    url("../fonts/lexenddeca-variablefont_wght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("../fonts/bigshouldersdisplay-semibold-webfont.woff") format("woff"),
    url("../fonts/bigshouldersdisplay-semibold-webfont.woff2") format("woff2");
}

.container {
  margin: auto;
  max-width: 1000px;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}

.container__box {
  padding: 50px;
  flex: 30%;
}

.container__button {
  position: relative;
  bottom: 10px;
  margin-top: 60px;
  font-family: "Lexend Deca";
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
}

@media (width <= 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
