@font-face {
  font-family: "Lexend Deca";
  src: url("../fonts/lexenddeca-variablefont_wght-webfont.woff") format("woff"),
    url("../fonts/lexenddeca-variablefont_wght-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Big Shoulders Display";
  src: url("../fonts/bigshouldersdisplay-semibold-webfont.woff") format("woff"),
    url("../fonts/bigshouldersdisplay-semibold-webfont.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: hsl(0deg 0% 100% / 75%);
  color: hsl(0deg 0% 95%);
}

h1 {
  font-family: "Big Shoulders Display";
  font-size: 3rem;
}

p {
  color: hsl(0deg 0% 100% / 75%);
  font-family: "Lexend Deca";
  font-size: 1rem;
  line-height: 2;
}
