@use 'settings';
@use 'generic';

body {
    background-color: settings.$transparent-white;
}

h1 {
    font-family: settings.$heading-font;
    font-size: 2rem;
}
 
p {
    font-family: settings.$subheading-font;
    font-size: 1rem;
}

