@use "mixins";
@use "variables";
@use "elements";

@include mixins.box-color("orange", "transparent-white");
@include mixins.box-color("cyan", "transparent-white");
@include mixins.box-color("dark-cyan", "transparent-white");

.container {
  @include mixins.desktopSizeContainer;
  @include mixins.flex(row);

  border-radius: 10px;
  overflow: hidden;
}

.container__box {
  padding: 50px;
  flex: 30%;
}

.container__button {
  position: relative;
  bottom: 10px;
  margin-top: 60px;
  font-family: map-get(variables.$font, subheading-font);
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
}




.dark {
  @include mixins.theme(true);
}

@media (width <= 767px) {
  .container {
    @include mixins.flex(column);

    margin: 70px 15px;

    .container__button {
      margin-top: 25px;
    }
  }
}
